.teambox {
    position: fixed;
    bottom: -4%;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.75s;
    align-items: center;
    row-gap: 0.5vw;
    height: fit-content;
    width: fit-content;

    &.hide {
        opacity: 0;
    }
    &.left {
        left: 2vw;

    }

    &.right {
        right: 2vw;

    }  

}


