@import '../../App.css';

.video-container {
    position: fixed;
    top: 165%;
    left: 50%;
    border-radius: 30px;
    width: 280px;
    height: 200px;
    transform: translate(-50%, -50%);
    background-color: rgba(var(--BACKGROUND_COLOR), 1);
    overflow: hidden;
    z-index: 2;
    opacity: 0;
    transition: opacity 1.2s;

}

.video-container video {
    background: transparent;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;

}

.video-container.live {
    opacity: 100;

    transition: opacity 0.5s;
}

.video-container.failed{
    transition: opacity 0.2s;
    opacity: 0;
}