@keyframes KillLifeCycle {
	0% {
		opacity: 0;
		height: 0;
	}
	5% {
		opacity: 1;
		height: 2.24vw;
	}
	95% {
		opacity: 1;
		height: 2.24vw;
	}
	100% {
		opacity: 0;
		height: 0;
	}
}

.killfeed {
    position: fixed;
    right: 1%;
    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .single_kill_container {
        animation: KillLifeCycle 5s linear 1;
        animation-fill-mode: forwards;/**/
        overflow: hidden;
    }
    .single_kill {
        display: flex;
        flex-direction: row;
        background-color: rgba(var(--BACKGROUND_COLOR), 0.64);
        margin-bottom:5%;
        color:white;
        height: 2vw;
        font-size: 0.73vw;
        overflow: hidden;
        align-items: center;
        font-family: Poppins-Bold;
        font-weight:500;
        padding-left:0.78vw;
        padding-right:0.78vw;

        > svg {
            max-height: 1.25vw;
            max-width: 1.25vw;
        }

        div {
            margin:0.52vw;
            display:flex;
            align-items:center;
        }

        svg.weapon {
            height: 1.46vw;
            filter: invert(0%);
        }

        .CT {
            color: rgb(var(--CT_COLOR));
        }

        .T {
            color: rgb(var(--T_COLOR));
        }

        .way .headshot, .way .wallbang, .flash_assist, .flash_kill, .smoke_kill, .noscope_kill {
            max-height:1.04vw;
            margin-left:0.26vw;
        }

        .flash_assist {
            margin-left: 0;
            margin-right:0.26vw;
        }

        .plus {
            margin-left: 0;
            font-weight: 600;
            margin-right: 0.42vw;
        }

        .assister_name {
            margin-left:0;
        }

        .way {
            text-align: center;

            .wallbang {
                max-height: 1.25vw;
            }
            svg:not(.weapon) {
                max-height:1.25vw;
                max-width: 1.25vw;
            }
        }
        &.hide {
            transition:height 1s, padding 1s,  opacity 1s, margin 1s;
            opacity:0;
            height:0;
            margin:0;
        }
        &.show {
            opacity:1;
        }
    }
}